
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.09 0.02 237.74);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.09 0.02 237.74);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.09 0.02 237.74);
    --primary: oklch(0.48 0.19 262.25);
    --primary-foreground: oklch(0.98 0.01 262.25);
    --secondary: oklch(0.95 0.01 253.36);
    --secondary-foreground: oklch(0.48 0.19 262.25);
    --muted: oklch(0.95 0.01 253.36);
    --muted-foreground: oklch(0.56 0.06 255.1);
    --accent: oklch(0.95 0.01 253.36);
    --accent-foreground: oklch(0.48 0.19 262.25);
    --destructive: oklch(0.58 0.25 27.33);
    --border: oklch(0.91 0.02 250.32);
    --input: oklch(0.91 0.02 250.32);
    --ring: oklch(0.71 0.08 256.26);
    --chart-1: oklch(0.65 0.22 260.12);
    --chart-2: oklch(0.6 0.12 234.7);
    --chart-3: oklch(0.4 0.07 227.39);
    --chart-4: oklch(0.83 0.19 284.43);
    --chart-5: oklch(0.77 0.19 270.08);
    --sidebar: oklch(0.98 0.01 253.36);
    --sidebar-foreground: oklch(0.09 0.02 237.74);
    --sidebar-primary: oklch(0.48 0.19 262.25);
    --sidebar-primary-foreground: oklch(0.98 0.01 262.25);
    --sidebar-accent: oklch(0.95 0.01 253.36);
    --sidebar-accent-foreground: oklch(0.48 0.19 262.25);
    --sidebar-border: oklch(0.91 0.02 250.32);
    --sidebar-ring: oklch(0.71 0.08 256.26);
  }

  .dark {
    --background: oklch(0.09 0.02 237.74);
    --foreground: oklch(0.98 0.01 253.36);
    --card: oklch(0.14 0.03 243.92);
    --card-foreground: oklch(0.98 0.01 253.36);
    --popover: oklch(0.14 0.03 243.92);
    --popover-foreground: oklch(0.98 0.01 253.36);
    --primary: oklch(0.83 0.05 248.72);
    --primary-foreground: oklch(0.14 0.03 243.92);
    --secondary: oklch(0.27 0.04 244.3);
    --secondary-foreground: oklch(0.98 0.01 253.36);
    --muted: oklch(0.27 0.04 244.3);
    --muted-foreground: oklch(0.71 0.04 256.26);
    --accent: oklch(0.27 0.04 244.3);
    --accent-foreground: oklch(0.98 0.01 253.36);
    --destructive: oklch(0.7 0.19 22.22);
    --border: oklch(0.27 0.04 244.3);
    --input: oklch(0.27 0.04 244.3);
    --ring: oklch(0.55 0.08 258.07);
    --chart-1: oklch(0.49 0.24 264.38);
    --chart-2: oklch(0.7 0.17 262.48);
    --chart-3: oklch(0.77 0.19 270.08);
    --chart-4: oklch(0.63 0.27 303.9);
    --chart-5: oklch(0.65 0.25 16.44);
    --sidebar: oklch(0.14 0.03 243.92);
    --sidebar-foreground: oklch(0.98 0.01 253.36);
    --sidebar-primary: oklch(0.49 0.24 264.38);
    --sidebar-primary-foreground: oklch(0.98 0.01 253.36);
    --sidebar-accent: oklch(0.27 0.04 244.3);
    --sidebar-accent-foreground: oklch(0.98 0.01 253.36);
    --sidebar-border: oklch(0.27 0.04 244.3);
    --sidebar-ring: oklch(0.55 0.08 258.07);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
